.page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  overflow: hidden;
}

.coming-soon-picture {
  display: block;
  width: 100%;
  height: 100vh;
}

.coming-soon-image {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}